* {

  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  font-weight: 400;
  /* margin:0px; */
}

.background__colour {
  background-color: #FFF0ED;
  display: flex;
}


.heading__h1 {
  font-size: 3.75rem;
  font-weight: 300;
  color: #393939;
}

.heading__h2 {

  font-size: 2.75rem;
  font-weight: 300;
  color: #393939;

}

.heading__h3 {
  font-size: 2.0625rem;
  font-weight: 300;
  color: #393939;

}


.button {
  font-size: 1.3125rem;
  font-weight: 400;

}


.paragraph__font {
  font-size: 1.125rem;
  /* 18px/16px */
  font-weight: 400;
  /* Regular */
  color: #393939;
}

.nav__icon {
  Width: 50px;
  height: auto;
}

.navbar__aligment {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;

}

.navbar__aligment-outer {
  display: flex;

  align-items: center;
  width: 100%;

}

.nav__icon-aligment {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar__link-special {
  color: #5BACC3;

}

.navbar__links {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  padding-left: 2.5rem;
  margin-top: 0.938rem;

}

.navbar__links-icon {
  text-decoration: none;
}

.navbar__links-icon-value {
  color: #393939;
}